@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&displayswap');

body {
  font-family: 'Inter', sans-serif;
}

header {
  z-index: 10001 !important;
}
.nowrap {
  white-space: nowrap;
}
.logo {
  padding-left: 35px;
}
.scroll-target {
  scroll-margin-top: 80px;
}
.loader {
  border-top-color: #3498db;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.dark .bg-brandPrimary {
  background-color: #333;
}
.dark .text-white {
  color: #fff;
}

h1 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  margin-left: 55px;
  margin-top: 25px;
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.form-textarea {
  height: 100px;
  resize: vertical;
}

.submit-button {
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 52px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.submit-button:hover {
  background-color: #4d4d4d;
}

.feedback-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 52px;
}

.feedback-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feedback-content {
  display: flex;
  flex-direction: column;
}

.feedback-name {
  font-size: 20px;
  font-weight: bold;
}

.feedback-text {
  margin-top: 12px;
  margin-left: 20px;
  font-size: 18px;
  color: #4d4d4d;
}

.like-button {
  background-color: #4cafaf;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  width: 100px;
  margin-left: 1095px;
}

.like-button:hover {
  background-color: #4d4d4d;
}
.name-avatar {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.avatar-icon {
  font-size: 24px;
  margin-right: 10px;
}
.show-more-button {
  background-color: #4cafaf;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 52px;
}

.show-more-button:hover {
  background-color: #4d4d4d;
}
.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
